# Whitehouse visitors

This project is about white house visitors. How many visitors was in the white house in 2015
This project allow to:
* Calculate the month with the most visitors.
* Calculate the most common time that visits occurred.
* Calculate summary statistics on visit length and how far ahead visits are booked.
* Produce neatly formatted summaries of daily visits.

importing reader function from csv module

In [1]:
from csv import reader

Opening the file with python built-in function open

In [2]:
file = open("potus_visitors_2015.csv")

Reading the file with the reader module

In [3]:
read_file = reader(file)

assign the read file to the variable data and make a list, isolate the data from the header

In [4]:
data = list(read_file)
data_header = data[0]
data = data[1:]

Quick glance if wverything works fine

In [5]:
data_header

['name',
 'appt_made_date',
 'appt_start_date',
 'appt_end_date',
 'visitee_namelast',
 'visitee_namefirst',
 'meeting_room',
 'description']

## describing columns from data

|Syntax|Description|
|:------:|:---:|
|name |The name of the visitor.|
|appt_made_date| The date and time that the appointment was created.|
|appt_start_date| The date and time that the appointment was scheduled to start.|
|appt_end_date| The date and time that the appointment was scheduled to end.|
|visitee_namelast| The last name of the visitee (the person the visitor was meeting with).|
|visitee_namefirst| The first name of the visitee.|
|meeting_room| The room in which the appointment was scheduled.|
|description| Optional comments added by the WAVES operator.|

Solecting some differnt data

In [6]:
print(data[:7])

[['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Loryn F. Grieb', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Travis D. Gordon', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Taylor D. Gibbs', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Dameriah A. Smith', '2014-12-18T00:00:00', '1/6/15 9:30', '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

## time module explanation

The datetime.datetime class is the most commonly-used class from the datetime module, and has attributes and methods designed to work with data containing both the date and time. The signature of the class is below (with some lesser used parameters omitted):

                    datetime.datetime(year, month, day, hour=0, minute=0, second=0)

The signature indicates that the year, month, and day arguments are required, and the time arguments are optional and set to the equivalent of midnight if omitted. The hour parameter is expressed in 24 hour time, so 11 is 11 a.m., 12 is 12 p.m., 13 is 1 p.m., etc.

Importing datetime:

In [7]:
import datetime as dt #  it' s not common to import is as dt but we''ll use it a lot in this notebook

In [8]:
my_birthday = dt.datetime(1999,1,9)
print(my_birthday)

1999-01-09 00:00:00

Because there's no value assigned to the minute and second parameter, it's by default at midnight nineth of January 1999

In [9]:
my_birthday_with_time = dt.datetime(1999,1,9,9,30)
print(my_birthday_with_time)

1999-01-09 09:30:00

Now let's look at data from the data

In [10]:
start = data[-1][2]
print(start) #  it's the data when appointment was scheduled to start

12/18/15 16:30

We can split the the date into two variables, our aim is to format date from data set to values which was in datetime object

In [11]:
date, time = start.split() 
print(date)
print(time)

12/18/15
16:30

In [12]:
month,day,year = date.split("/")
hour,minute = time.split(":")

but anyway the type is string so if we wanna have a datetime object we need to make type to integer

In [13]:
print(type(month))
print(type(hour))

<class 'str'>
<class 'str'>

In [14]:
month = int(month)
day = int(day)
year = int(year)
hour = int(hour)
minute = int(minute)

and now we can use this values as parameters in datetime method

In [15]:
appointment_start = dt.datetime(year, month , day, hour, minute)
print(appointment_start)

0015-12-18 16:30:00

But as we can see it doesnt work as we expected, and its a lot of work to do that that way, there's easier way to do that.

The datetime.strptime() constructor returns a datetime object defined using a special syntax system to describe date and time formats called strftime.

The strftime syntax uses a series of format codes consisting of a % character followed by a single character which specifies a date or time part in a particular format. Lets consider this:

In [16]:
string = "24/12/2015"
date = dt.datetime.strptime(string, '%d/%m/%Y') #  we using datetime method strptime on string
print(type(date))
print(date)

<class 'datetime.datetime'>
2015-12-24 00:00:00

Another example

In [17]:
string = '24-12-2015'
date = dt.datetime.strptime(string, '%d-%m-%Y')
print(date)

2015-12-24 00:00:00

The datetime class has a number of attributes which make it easy to retrieve the various parts that make up the date stored within the object:

* datetime.day: The day of the month.

* datetime.month: The month of the year.

* datetime.year: The year.

* datetime.hour: The hour of the day.

* datetime.minute: The minute of the hour.

If we wanted to create string representation of a datetime object representing the date like December 24th, 1984 in the form day/month/year, we could use those attributes to extract the values, and then insert them into a string:

In [18]:
dt_object = dt.datetime(1999,1,9)
day = dt_object.day
month = dt_object.month
year  = dt_object.year
dt_string = f"{day}/{month}/{year}"
print(dt_string)

9/1/1999

It's again a lot of work as you can see, but lucilly it's datetime.strftime() method which return string representation of date. How to know which is which?

* strptime string parse time

* strftime string format time

with string format method we can display the data in this way

In [19]:
dt_object = dt.datetime(1984, 12, 24)
dt_string = dt_object.strftime("%d/%m/%Y")
print(dt_string)

24/12/1984

But we can also use %B to represent month as word

In [20]:
dt_string = dt_object.strftime("%B %d, %Y")
print(dt_string)

December 24, 1984

And we can use  **%A, %I, %M, and %p** to represent the day of the week, the hour of the day, the minute of the hour, and a.m./p.m.:

In [21]:
dt_string = dt_object.strftime("%A %B %d at %I:%M %p")
print(dt_string)

Monday December 24 at 12:00 AM

Iterate over tha data and change it to the datetime object

In [22]:
for row in data:
    date = row[2]
    date = dt.datetime.strptime(date, '%m/%d/%y %H:%M')
    row[2] = date

Creating a frequency table for the data in format "name of the month", "a four digits year":

In [23]:

visitors_per_month = {}

for row in data:
    date = row[2]
    date = dt.datetime.strftime(date, "%B, %Y")
    
    if date not in visitors_per_month:
        visitors_per_month[date] = 1
    else:
        visitors_per_month[date] += 1

In [24]:
print(type(data[11][2]))

<class 'datetime.datetime'>

And finally:

In [25]:
print(visitors_per_month)

{'January, 2015': 1248, 'February, 2015': 2165, 'March, 2015': 2262, 'April, 2015': 4996, 'May, 2015': 3013, 'June, 2015': 7743, 'July, 2015': 2930, 'August, 2015': 1350, 'September, 2015': 4416, 'October, 2015': 3669, 'November, 2015': 1133, 'December, 2015': 13029}

Next step is to analyze presidential appointment times, to achive this we need to use the datetime.time class, the syntax is like this:

                    datetime.time(hour=0, minute=0, second=0, microsecond=0)

So when we specify the time object:

In [26]:
two_thirty = dt.time(14,30)
print(two_thirty) #  Notice that the 24-hour time is provided

14:30:00

For 8:05 a.m it's gonna be like this

In [27]:
fifth_after_eight_am = dt.time(8,5)
print(fifth_after_eight_am)

08:05:00

We can also create a time object from a datetime object, using the **datetime.datetime.time()** method. This method returns a time object representing the time data from the datetime object.

In [28]:
jfk_shot_dt = dt.datetime(1963, 11, 22, 12, 30)
print(jfk_shot_dt.time())

12:30:00

The time class doesn't have a **strptime()** constructor, but if we need to parse times in string form, we can use datetime.strptime() and then convert directly to a time object:

In [29]:
time_str = "9:15"
time_dt = dt.datetime.strptime(time_str,"%H:%M")
print(time_dt)

1900-01-01 09:15:00

Apart from having no strptime constructor, time objects behave similarly to datetime objects:

They have attributes like **time.hour and time.second** that you can use to access individual time components.
They have a **time.strftime()** method, which you can use to create a formatted string representation of the object.

A useful feature of time objects is that they support comparisons. We can test if one time is greater — or later — than another:

In [30]:
t_1 = dt.time(17,45)
t_2 = dt.time(1,13)

In [31]:
print(t_1 > t_2)

True

Because these comparison operations are supported, Python built-in functions like **min()** and **max()** can also be used:

In [32]:
times = [
    dt.time(17,45),
    dt.time(8,14),
    dt.time(20,45)
]

print(min(times))
print()
print(max(times))

08:14:00

20:45:00

Now we re gonna make a list of appointment times

In [33]:
appointment_times = []

for row in data:
    date = row[2]
    time = date.time()
    appointment_times.append(time)

And see when it was the earliest and the latest met in whitehouse:

In [43]:
earliest_appointment = min(appointment_times)
latest_appointment = max(appointment_times)
print("earliest:")
print(earliest_appointment)
print("latest:")
print(latest_appointment)

earliest:
06:00:00
latest:
21:30:00

## The timedelta object introdutcion

lets see if the datetime objects work with mathematical operators like + or -

In [48]:
date_1 = dt.date(2021,12,14)
date_2 = dt.date(2029,12,15)
# print(date_1 + date_2) # gonna occur an error

In [50]:
print(date_2 - date_1) # in this case we re gonna get time difference

2923 days, 0:00:00

Now we get a time difference

In [51]:
print(date_1 - date_2)

-2923 days, 0:00:00

It works in both currence

In [54]:
diff = date_2 - date_1

Let's see the type:

In [57]:
print(type(diff))

<class 'datetime.timedelta'>

We observed that we can create an object of the timedelta class using the - operator, but we can also instantiate a timedelta class directly. Let's look at the syntax used for this:

In [61]:
dif = dt.timedelta(days=10, seconds=0, microseconds=0,
                   milliseconds=0, minutes=0, hours=0, weeks=0)

In [72]:
print(dif)

10 days, 0:00:00

and so on:

In [73]:
print(dt.timedelta(days=100))

100 days, 0:00:00

In [74]:
print(dt.timedelta(weeks = 7))

49 days, 0:00:00

In [78]:
print(dt.timedelta(days=2))

2 days, 0:00:00

We can also use timedelta objects to add or subtract time from datetime objects. Let's look at the example below, where we look to find the date one week from a date object:

In [86]:
d_1 = dt.date(1999, 1, 9)
d_1_plus_1wk = d_1 + dt.timedelta(weeks=1, hours= 13)
print(d_1_plus_1wk)

1999-01-16

Now we re gonna use it to calculate the lenght of the meetings. First we gonna convert the string to the datetime object from the appt_end column

In [89]:
datetime_format = "%m/%d/%y %H:%M"
for row in data:
    end_date = row[3]
    end_date = dt.datetime.strptime(end_date, datetime_format)
    row[3] = end_date

Now we can make a frequency table:

In [90]:
appt_lenghts = {}

for row in data:
    apt_start = row[2]
    apt_end = row[3]
    time_delta = apt_end - apt_start
    
    if time_delta not in appt_lenghts:
        appt_lenghts[time_delta] = 1
    else:
        appt_lenghts[time_delta] += 1

In [94]:
print(min(appt_lenghts))
print(max(appt_lenghts))

2:29:00
16 days, 12:59:00